.repair__section-devices {
  min-height: 300px;
  height: auto;
  position: relative;
}

.repair__section-price {
  min-height: 300px;
  height: auto;
  position: relative;
}

.swiper {
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

  &--text {
    @include swiper-text;
}

&__wraper-brands {
    align-items: center;

    height: 130px;
}

&--brands {
    background-color: #ffffff !important;
    flex-shrink: 0 !important;
    width: 240px !important;
    height: 72px;
    display: flex;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #eaeaea;
  }


&--button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid $buttonColor;
    background-color: transparent;
    cursor: pointer;

&:hover {
    transform: scale(1.1);
}
}

&__button-devices {
    position: absolute;
    right: 16px;
    bottom: 16px;
}

&--arrow {
    width: 7px;
    height: 7px;
    border-top: 2px solid $buttonColor;
    border-right: 2px solid $buttonColor;
    transform: rotate(45deg);
    margin-right: 4px;
}

&__btn-none {
    display: none;
}

&-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
}

&__wraper-devise {
  min-width: 300px;
  height: auto;

}

&--devices {
    width: 240px;
    height: 160px;
    background-color: $colorChildELement ;
    padding: 15px;
    
}




&__wraper-price {
  height: 200px;
}

&--price {
  width: 270px;
  height: 200px;
  background-color: $colorChildELement ;
  padding-left: 10px ;

}

}


.arrow-rotate {
    transform: rotate(180deg);
}

@media (min-width: 768px) {


.swiper {
    display: block;
    height: auto;
    padding: 10px;


&--text {
  margin: 0 0 20px 15px;
}

&__wraper-brands {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  height: auto;
  margin-bottom: 24px;
  justify-items: center;
}

&-none {
  display: none;
}

&__btn-none {
  display: flex;
  align-items: center;
  gap: 8px;
  width: auto;
  height: 24px;
  border: none;
  background: transparent;
  margin-bottom: 20px;
  cursor: pointer;
}

&-pagination {
    display: none;
  
}

&--brands {
  width: 224px !important;
  height: 72px;
}

&--devices {
  width: 224px;
  height: 160px;
}

&__wraper-devise {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  justify-items: center;
  flex-wrap: wrap;
  gap: 20px;
}


}
}

@media (min-width: 1120px) {
.swiper {

&__wraper-brands {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  justify-items: center;
  align-items: center;

}

&__wraper-devise {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: auto;
  justify-content: center;
}

&--devices{
  &:nth-child(4) {
    display: flex;
  }
}

&--brands {
  width: 240px !important;

  &:nth-child(7),
  &:nth-child(8) {
    display: flex;
  }
}


}
}
