  $colorTile: #7E7E82;
  $textColor: #1B1C21;
  $buttonColor: #FF3E79;
  $lineTitleColor: #41F6D7;
  $lineColor: #EAEAEA;
  $backgroundGradient: linear-gradient(to right, #F8F8F8, #FFFFFF);
  $colorChildELement: #FFFFFF;